@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
}

.container {
  width: 100vw;
  height: 100vh;
  position: relative;
  max-width: 540px;
  margin: 0 auto;
  overflow: hidden;
}

.container .background img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100%;
  max-width: 100%;
  max-height: 100vh;
}

.container .vector {
  position: absolute;
  top: 16%;
  left: 2%;
  width: 100%;
  height: 100%;
  opacity: 0.5;
  z-index: 1;
  overflow: hidden;
}

.mask-group {
  position: absolute;
  top: 17%;
  left: 2%;
  width: 100%;
  height: 100%;
  z-index: 2;
}

.bg-wheel-static {
  position: absolute;
  top: 28%;
  left: 0;
  width: 100%;
  height: 60%;
  max-width: 100%;
  max-height: 100%;
}

.bg-wheel-static img {
  object-fit: contain;
  height: 100%;
  width: 100%;
}

.colored-circle {
  position: absolute;
  top: 32.5%;
  left: 10%;
  width: 80%;
  height: 45%;
  max-width: 100%;
  max-height: 100%;
  transition: 3000ms cubic-bezier(0.075, 0.82, 0.165, 1);
}

.colored-circle img {
  object-fit: contain;
  height: 100%;
  width: 100%;
}

.rotating-wheel {
  /* animation: rotateCircle 1s 1 ease-in-out; */
}

.upper-shadow {
  position: absolute;
  top: 32.5%;
  left: 10%;
  width: 80%;
  height: 45%;
  z-index: 100;
}

.upper-shadow img {
  object-fit: contain;
  height: 100%;
  width: 100%;
}

.bb-logo {
  position: absolute;
  top: 2%;
  left: 50%;
  transform: translateX(-50%);
}

.bb-logo img {
  object-fit: cover;
  width: 75%;
  height: 50%;
  margin-left: 10%;
}

.big-wheel-logo {
  position: absolute;
  top: 10.5%;
  left: 50%;
  transform: translateX(-50%);
}

.big-wheel-logo img {
  object-fit: contain;
  height: 100%;
  width: 100%;
  margin-bottom: 10px;
}

.spin-button {
  position: absolute;
  bottom: 2%;
  left: 50%;
  transform: translateX(-50%);
  cursor: pointer;
  z-index: 10;
  outline: none;
  background: transparent;
}

/* Fix This */
.spin-button:focus,
.spin-button:hover {
  outline: none !important;
  background: transparent;
  color: #fff;
  box-shadow: none;
}

.spin-button img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  cursor: pointer;
}

.centre-pin {
  position: absolute;
  top: 56%;
  left: 56%;
  transform: translate(-56%, -56%);
}

.centre-pin img {
  height: 60%;
  width: 60%;
  object-fit: contain;
}

.show-prize-modal {
  position: absolute;
  top: 40%;
  left: 0;
  transform: translate(-60%, -60%);
  width: 60%;
  height: 50%;
  /* border-radius: 50%; */
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  font-weight: 600;
  font-size: 24px;
  margin: 0 auto;
  text-align: center;
  z-index: 150;
  opacity: 0.8;
}

#prize-span {
  margin-top: 27.5%;
  color: #fff;
  box-shadow: 10px 10px 10px rgba(255, 255, 255, 0.9);
  padding: 3%;
  border-radius: 20px;
  letter-spacing: 1px;
  /* text-transform: uppercase; */
  font-size: 20px;
  background: rgba(0, 0, 0, 0.3);
  /* border-bottom: 2px solid #fff; */
  font-family: "Ubuntu", sans-serif;
}

#spin-again-btn {
  margin: 5px 10px;
  padding: 10px 16px;
  /* border: 2px solid #fff; */
  /* border: none; */
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
  border-radius: 4px;
  cursor: pointer;
  margin-top: -10%;
  font-family: "Ubuntu", sans-serif;
  font-size: 16px;
  font-weight: 500;
  background: rgba(0, 0, 0, 0.3);
  border-bottom: 2px solid transparent;
  /* transition: 5000s linear; */
  animation: spinAgainBtn 4s linear infinite;
}

@keyframes spinAgainBtn {
  0% {
    border-bottom: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: 4px solid transparent;
    border-left: 4px solid transparent;
  }
  25% {
    border-bottom: 4px solid #fff;
    border-right: 4px solid transparent;
    border-top: 4px solid transparent;
    border-left: 4px solid transparent;
  }
  50% {
    border-bottom: 4px solid transparent;
    border-right: 4px solid #fff;
    border-top: 4px solid transparent;
    border-left: 4px solid transparent;
  }
  75% {
    border-bottom: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: 4px solid #fff;
    border-left: 4px solid transparent;
  }
  100% {
    border-bottom: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: 4px solid transparent;
    border-left: 4px solid #fff;
  }
}

/* Media queries for the centre pin */

@media only screen and (max-width: 500px) {
  .centre-pin {
    position: absolute;
    top: 56%;
    left: 58%;
    transform: translate(-56%, -56%);
  }
  .show-prize-modal {
    position: absolute;
    top: 57%;
    left: 55%;
    height: 43%;
    width: 84%;
    transform: translate(-56%, -56%);
  }
}

@media only screen and (max-width: 400px) {
  .centre-pin {
    position: absolute;
    top: 56%;
    left: 58%;
    transform: translate(-56%, -56%);
  }
  .show-prize-modal {
    position: absolute;
    top: 55%;
    left: 12%;
    height: 60%;
    width: 95%;
    transform: translate(-10%, -50%);
  }
}

@media only screen and (max-width: 300px) {
  .centre-pin {
    position: absolute;
    top: 56%;
    left: 60%;
    transform: translate(-56%, -56%);
  }
  .show-prize-modal {
    position: absolute;
    top: 60%;
    left: 55%;
    height: 45%;
    width: 90%;
    transform: translate(-56%, -56%);
  }
}

/* Media Queries for the prize modal */

@media only screen and (max-width: 300px) {
}

@media only screen and (max-width: 400px) {
}

@media only screen and (max-width: 500px) {
}

/* lottie */

.lottie {
  position: absolute;
  top: 60%;
  left: 30%;
  transform: translate(-50%, -50%);
  height: 50%;
  width: 50%;
  z-index: 1000;
}

.hide-lottie {
  display: none;
}
